/*
Theme Name: Real Estate of the World
Template: understrap
Theme URI: http://uraydev.com/
Description: A child theme for Understrap
Author: Sergey Nikonorov
Author URI: https://uraj.hh.ru/resume/95ebd429ff0439d0f40039ed1f55627a47774c
Version: 1.0
*/
