@import url(https://fonts.googleapis.com/css?family=Marmelad&display=swap&subset=cyrillic);
body{background-color:#fffffe;background-repeat:repeat}::-moz-selection{background-color:red;color:#fff}::-moz-selection,::selection{background-color:red;color:#fff}
